* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li a {
  color: #a6a8ad;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.header-btn button {
  padding: 8px 21px;
  border-radius: 32px;
  border: 1px solid #fff;
  background: #fff;
  color: #121214;
  text-align: center;
  font-family: " Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.4px;
  /* 115% */
}

.header-right a {
  color: #a6a8ad;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

/* First */

.bckg {
  background-image: url("./img/IMAGE\ \(2\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 744px;
  flex-shrink: 0;
}

.btn {
  margin-top: 44px;
  width: 125px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #03f;
  color: #fff;
  text-align: center;
  padding-top: 12px;
  font-family: " Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
}

/* Second */

.tnb {
  margin-top: 18px;
  width: 159px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #03f;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
